{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "color-hex-case": "lower",
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "number-leading-zero": "never",
    "comment-whitespace-inside": "always",
    "at-rule-no-vendor-prefix": true,
    "rule-empty-line-before": "always",
    "selector-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "include",
          "mixin",
          "extend",
          "if",
          "each",
          "content",
          "function",
          "for",
          "return",
          "error",
          "else"
        ]
      }
    ]
  }
}
