$color-primary: #20232a;

$font-family-base: 'Montserrat', sans-serif;
$font-weight-base: 400;

$headings-font-family: 'Oswald', sans-serif;
$headings-font-weight: 500;

$font-family-monospace: 'JetBrains Mono', monospace;
