.navbar-light .navbar-nav .nav-link {

  &:focus {
    color: $white;
    box-shadow: inset 100px 0 0 0 $black;
  }
}

.navbar-light .navbar-toggler {
  border: none;
}

.nav-link {
  font-weight: $font-weight-link;
  color: $black;

  &:hover {
    padding: 6px 0;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
  }
}

.nav-media {
  flex-direction: row;

  @include media-breakpoint-down(md) {
    margin-top: 10px;
  }

  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}
