// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "node_modules/bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.
//
//@import "bootstrap/scss/functions"; // Required
//@import "bootstrap/scss/variables"; // Required
//@import "bootstrap/scss/mixins"; // Required

//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;


///////////fonts//////////////
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Customize some defaults
//  $body-color: $purple;
//  $body-bg: #f5f5f5;
//  $border-radius: .4rem;

// @import "bootstrap/scss/root";
//@import "bootstrap/scss/reboot"; // Required
//@import "bootstrap/scss/type";
//// @import "bootstrap/scss/images";
//// @import "bootstrap/scss/code";
//@import "bootstrap/scss/grid";
//// @import "bootstrap/scss/tables";
//// @import "bootstrap/scss/forms";
//@import "bootstrap/scss/buttons";
//@import "bootstrap/scss/transitions";
//// @import "bootstrap/scss/dropdown";
//// @import "bootstrap/scss/button-group";
//// @import "bootstrap/scss/input-group"; // Requires forms
//// @import "bootstrap/scss/custom-forms";
//// @import "bootstrap/scss/nav";
//// @import "bootstrap/scss/navbar"; // Requires nav
//// @import "bootstrap/scss/card";
//// @import "bootstrap/scss/breadcrumb";
//// @import "bootstrap/scss/pagination";
//// @import "bootstrap/scss/badge";
//// @import "bootstrap/scss/jumbotron";
//// @import "bootstrap/scss/alert";
//// @import "bootstrap/scss/progress";
//// @import "bootstrap/scss/media";
//// @import "bootstrap/scss/list-group";
//@import "bootstrap/scss/close";
//// @import "bootstrap/scss/toasts";
//@import "bootstrap/scss/modal"; // Requires transitions
//// @import "bootstrap/scss/tooltip";
//// @import "bootstrap/scss/popover";
//// @import "bootstrap/scss/carousel";
//// @import "bootstrap/scss/spinners";
//@import "bootstrap/scss/utilities";
//// @import "bootstrap/scss/print";

//
// Custom styles
//

////////////typography////////////////
$spacer: 40px;

$black: #000;
$white: #fff;
$aqua: #78d6e3;
$green: #a8db57;
$yellow: #d2cc66;
$orange: #f6af65;
$red: #e38a88;
$gray: #4b4a4a;

p {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

.tel-link {
  color: $gray;
  font-weight: 700;
  &:hover {
    color: $black;
  }
  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}
////////body wrapper and margin-blocks////////
.wrapper {
  padding: 0 40px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $white;

  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }
}

.mb {
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}
//////////////Header////////////////////
.nav-link {
  font-weight: 700;
  color: $black;

  &:focus {
    color: $white !important;
    outline: 0;
    box-shadow: inset 100px 0 0 0 $black;
    opacity: 1;
  }

  &:hover {
    padding: 4px 0;
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    opacity: 1;
  }
}

.nav-media {
  flex-direction: row;

  @include media-breakpoint-down(md) {
    margin-top: 1rem;
  }

  li {
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}
//////////////Carousel text animation////////////////////////////

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.bg-black-50 {
  background-color: rgba($black, 0.5);
}
/////////////Catalog/////////////////////
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 20px;
  text-decoration: none !important;

  span {
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
  }

  img {
    width: 150px;
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
    &:hover {
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
      border-radius: 50%;
    }
  }

  &:hover {
    margin: 0;
  }

  &:hover span {
    font-size: 24px;
    z-index: 10;
  }

  &:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    border-radius: 50%;
  }

  &-aqua:hover img {
    background-color: $aqua;
    box-shadow: 0px 0px 20px 5px $aqua;
  }

  &-red:hover img {
    background-color: $red;
    box-shadow: 0px 0px 20px 5px $red;
  }

  &-yellow:hover img {
    background-color: $yellow;
    box-shadow: 0px 0px 20px 5px $yellow;
  }

  &-orange:hover img {
    background-color: $orange;
    box-shadow: 0px 0px 20px 5px $orange;
  }

  &-green:hover img {
    background-color: $green;
    box-shadow: 0px 0px 20px 5px $green;
  }
}

.category__title {
  font-size: 18px;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  margin-bottom: 10px;
}
//////////////Footer////////////////////////
.contact-block {
  justify-content: space-between;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
  }

  li {
    list-style-type: none;
  }
}
///////////////////////////////////////
