// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "node_modules/bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.
//
//@import "bootstrap/scss/functions"; // Required
//@import "bootstrap/scss/variables"; // Required
//@import "bootstrap/scss/mixins"; // Required

//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;
$spacer: 40px;
/////colors////
$black: #000;
$white: #fff;
$aqua: #78d6e3;
$green: #a8db57;
$yellow: #d2cc66;
$orange: #f6af65;
$red: #e38a88;

///////////fonts//////////////
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Customize some defaults
//  $body-color: $purple;
//  $body-bg: #f5f5f5;
//  $border-radius: .4rem;

// @import "bootstrap/scss/root";
//@import "bootstrap/scss/reboot"; // Required
//@import "bootstrap/scss/type";
//// @import "bootstrap/scss/images";
//// @import "bootstrap/scss/code";
//@import "bootstrap/scss/grid";
//// @import "bootstrap/scss/tables";
//// @import "bootstrap/scss/forms";
//@import "bootstrap/scss/buttons";
//@import "bootstrap/scss/transitions";
//// @import "bootstrap/scss/dropdown";
//// @import "bootstrap/scss/button-group";
//// @import "bootstrap/scss/input-group"; // Requires forms
//// @import "bootstrap/scss/custom-forms";
//// @import "bootstrap/scss/nav";
//// @import "bootstrap/scss/navbar"; // Requires nav
//// @import "bootstrap/scss/card";
//// @import "bootstrap/scss/breadcrumb";
//// @import "bootstrap/scss/pagination";
//// @import "bootstrap/scss/badge";
//// @import "bootstrap/scss/jumbotron";
//// @import "bootstrap/scss/alert";
//// @import "bootstrap/scss/progress";
//// @import "bootstrap/scss/media";
//// @import "bootstrap/scss/list-group";
//@import "bootstrap/scss/close";
//// @import "bootstrap/scss/toasts";
//@import "bootstrap/scss/modal"; // Requires transitions
//// @import "bootstrap/scss/tooltip";
//// @import "bootstrap/scss/popover";
//// @import "bootstrap/scss/carousel";
//// @import "bootstrap/scss/spinners";
//@import "bootstrap/scss/utilities";
//// @import "bootstrap/scss/print";

//
// Custom styles
//

.wrapper {
  padding: 0 40px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $white;

  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }
}

.mb {
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}

////////////////////////////////////
.header{
  @include media-breakpoint-down(md) {
    position: fixed;
    background-color: $white;
    z-index: 50;
    width: 100%;
  }
}

.menu{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.menu-mob{
  align-items: flex-end;
  position: absolute;
  top: 4.1rem;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  padding: 1rem 1rem 1rem 0;
  background-color: white;


}


//////////////burger-menu///////////
.mobheader__btn{
  display: none;

  @include media-breakpoint-down(md){
    display: block;
    width: 3rem;
    height: 3rem;
    padding: 0;
    background-color: transparent;
    border: 0;

  }
}

.mobheader__btn:before,.mobheader__btn:after{
  content: "";
  position: absolute;
  right:  0;
  height: 0.3rem;
  width: 2rem;
  background-color: $black;
}

.mobheader__btn:before{
  top: 1.5rem;
}

.mobheader__btn:after{
  top: 2.5rem;
}

.mobheader__span{
  content: "";
  position: absolute;
  right: 0;
  top: 2rem;
  height: 0.3rem;
  width: 2rem;
  background-color: $black;
}

.mobheader__btn.active:before{
  content: "";
  top: 2rem;
  transform: rotate(45deg);
  transition: transform 100ms;
  transition-timing-function: linear;
}

.mobheader__btn.active:after{
  content: "";
  top: 2rem;
  transform: rotate(-45deg);
  transition: transform 120ms;
  transition-timing-function: linear;
}

.mobheader__span.active{
  display: none;
}
/////////////////////////

.navlinks,
.navmedia {
  list-style-type: none;
  padding: 0;

  li {
    display: inline;
    padding-left: 20px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}

.navlinks {
  a {
    font-weight: 700;
    color: $black;
    text-decoration: none;
    transition: 0.3s ease;

    &:focus {
      color: $white;
      outline: 0;
      box-shadow: inset 100px 0 0 0 $black;
      opacity: 1;
    }

    &:hover {
      border-top: 4px solid $black;
      border-bottom: 4px solid $black;
      opacity: 1;
    }
  }
}

.navlinks__active {
  opacity: 1;
}

.navlinks__item {
  opacity: 0.5;
}

.carousel-caption {
  left: 0;
  right: 0;
  top: 0;
  color: white;
  text-shadow: 0 0 4px black;
  font-weight: 800;

  p::after {
    position: absolute;
    color: #000;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient($white, $white) top/100% 50% no-repeat;
  }
}

////ТИПОГРАФИКА////
p {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 10px 0;
}

.carousel-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  background-color: $black;

  img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 2rem;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }
  h2 {
    opacity: 0;
    margin-top: 20%;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    @include media-breakpoint-down(sm) {
      margin-top: 0;
      font-size: 14px;
    }
  }
  p {
    margin: 2% 20%;
    padding: 2vw;
    border: 3px solid $white;
    opacity: 0;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    @include media-breakpoint-down(sm) {
      font-size: 10px;
      margin: 0;
    }
  }
}

.carousel-img:hover img {
  filter: blur(3px);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.carousel-img:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

.carousel-img:hover h2 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 20px;
  text-decoration: none !important;

  span {
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
  }

  img {
    width: 150px;
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
  }
}

.category:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  border-radius: 50%;
}

.category-aqua:hover img {
background-color: $aqua;
box-shadow: 0px 0px 20px 5px $aqua;
}

.category-red:hover img {
  background-color: $red;
  box-shadow: 0px 0px 20px 5px $red;
}

.category-yellow:hover img {
  background-color: $yellow;
  box-shadow: 0px 0px 20px 5px $yellow;
}

.category-orange:hover img {
  background-color: $orange;
  box-shadow: 0px 0px 20px 5px $orange;
}

.category-green:hover img {
  background-color: $green;
  box-shadow: 0px 0px 20px 5px $green;
}

.category:hover span {
  font-size: 24px;
  z-index: 10;
}

.category__title {
  font-size: 18px;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  margin-bottom: 10px;
}

.contact-block{
  justify-content: space-between;
  align-items: center;

  ul{
    margin: 0;
    padding: 0;
    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
  }

  li{
    list-style-type: none;
    font-weight: 700;
  }
  a{
    color: $black;
  }
}

