@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$black: #000;
$white: #fff;
$yellow: #ffd700;
$font-family-base: "Montserrat", sans-serif;
$font-weight-link: 700;
$font-weight-btn: 400;
$border-button: 1px solid $black;
$headings-font-family: "Oswald", sans-serif;
$font-size-base: 14px;
